<% layout('layout/page') -%>


<form action="/search_client_go" method="post">
<table>
	<caption>Поиск всех сведений о конкретном клиенте</caption>
	<tr><td>Фамилия:</td><td><input type="text" name="name1" required></td></tr>
	<tr><td>Имя:</td><td><input type="text" name="name2" required></td></tr>
	<tr><td>Отчество:</td><td><input type="text" name="name3"></td></tr>
</table>
<p><button type="submit">Поиск</button></p>
</form>
<% if (client[0]!==undefined) {%><p>Клиент: <%=client[0]%> <%=client[1]%> <%=client[2]%></p><% }%>
<br>
<% if (pers_data.phone) {%>
<table class="data">
	<caption>Персональные данные</caption>
	<tr><th>Телефоны</th><th>Адресс</th><th>Паспорт</th></tr>
	<tr><td><%=pers_data.phone %></td><td><%=pers_data.adress %></td><td><%=pers_data.pasport %></td></tr>
</table>
<%}%>
<br>
<% if (tours.length) {%>
<table class="data">
	<caption>Заказанные туры</caption>
	<tr><th>Название</th><th>Страна</th><th>Дата заезда</th><th>Количество дней</th><th>Цена, руб</th></tr>
	<% for(var i=0; i<tours.length; i++) {%>
	<tr><td><%=tours[i].name %></td><td><%=tours[i].country %></td><td><%=tours[i].date %></td><td><%=tours[i].num_days %></td></td><td><%=tours[i].price_rubl %></td></tr>
	<% } %>
</table>
<%}%>
<br>
<% if (agents.length) {%>
<table class="data">
	<caption>Агенты</caption>
	<tr><th>Фамилия</th><th>Имя</th><th>Отчество</th><th>Телефоны</th></tr>
	<% for(var i=0; i<agents.length; i++) {%>
	<tr><td><%=agents[i].name1 %></td><td><%=agents[i].name2 %></td><td><%=agents[i].name3 %></td><td><%=agents[i].phone %></td></tr>
	<% } %>
</table>
<%}%>