<% layout('layout/page') -%>

<% block('title', 'База туров'); -%>

<table>
    <tr>
        <td>
    	<form action="/add_tour" method="post">
		<table>
			<caption>Добавление тура в базу данных</caption>
			<tr><td>Название:</td><td><input type="text" name="name" required></td></tr>
			<tr><td>Страна:</td><td><select name="country" required><% for(var i=0; i<countries.length; i++) {%><option><%=countries[i].name %></option><% } %></select></td></tr>
			<tr><td>Дата заезда:</td><td><input type="text" name="date"></td></tr>
			<tr><td>Количество дней:</td><td><input type="text" name="num_days" required></td></tr>
			<tr><td>Количество мест:</td><td><input type="text" name="num_place" required></td></tr>
			<tr><td>Цена:</td><td><input type="text" name="price_rubl" required></td></tr>
		</table>
		<p><button type="submit">Добавить тур</button></p>
		</form>
		</td>
        <td>
        <form action="/del_tour" method="post">
		<table>
			<caption>Удаление тура из базы данных</caption>
			<tr><td>Название:</td><td><input type="text" name="name" required></td></tr>
			<tr><td>Страна:</td><td><select name="country" required><% for(var i=0; i<countries.length; i++) {%><option><%=countries[i].name %></option><% } %></select></td></tr>
			<tr><td>Дата заезда:</td><td><input type="text" name="date"></td></tr>
			<tr><td>Количество дней:</td><td><input type="text" name="num_days" required></td></tr>
		</table>
		<p><button type="submit">Удалить тур</button></p>
		</form>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <form action="/chg_tour" method="post">
		<table>
		<caption>Изменение данных тура</caption>
		<tr>
			<td><table>
				<caption>Старые данные</caption>
				<tr><td>Название:</td><td><input type="text" name="name" required></td></tr>
				<tr><td>Страна:</td><td><select name="country" required><% for(var i=0; i<countries.length; i++) {%><option><%=countries[i].name %></option><% } %></select></td></tr>
				<tr><td>Дата заезда:</td><td><input type="text" name="date"></td></tr>
				<tr><td>Количество дней:</td><td><input type="text" name="num_days" required></td></tr>
				<tr><td>Количество мест:</td><td><input type="text" name="num_place" required></td></tr>
				<tr><td>Цена:</td><td><input type="text" name="price_rubl" required></td></tr>
			</table></td>
			<td><table>
				<caption>Новые данные</caption>
				<tr><td>Название:</td><td><input type="text" name="name" required></td></tr>
				<tr><td>Страна:</td><td><select name="country" required><% for(var i=0; i<countries.length; i++) {%><option><%=countries[i].name %></option><% } %></select></td></tr>
				<tr><td>Дата заезда:</td><td><input type="text" name="date"></td></tr>
				<tr><td>Количество дней:</td><td><input type="text" name="num_days" required></td></tr>
				<tr><td>Количество мест:</td><td><input type="text" name="num_place" required></td></tr>
				<tr><td>Цена:</td><td><input type="text" name="price_rubl" required></td></tr>
			</table></td>
		</tr>
		</table>	
		<p><button type="submit">Изменить данные тура</button></p>
		</form>
        </td>
    </tr>
</table>


<br>
<table class="data">
	<caption>Список всех туров</caption>
	<tr><th>Название</th><th>Страна</th><th>Дата заезда</th><th>Количество дней</th><th>Количество мест</th><th>Цена</th></tr>
	<% for(var i=0; i<rows.length; i++) {%>
	<tr><td><%=rows[i].name %></td><td><%=rows[i].country %></td><td><%=rows[i].date %></td><td><%=rows[i].num_days %></td><td><%=rows[i].num_place %></td><td><%=rows[i].price_rubl %></td></tr>
	<% } %>
</table>